.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 100px;
    background-color: #e9e6cc;
    padding: 0px;
  }
  .grid-container1 > div {
    background-color: #ffffe1;
    text-align: center;
    padding: 50px 0;
    font-size: 100px;
    font-family: Calibri, Calibri, sans-serif;
  }

  .grid-container2 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    background-color: #dbd6aa;
    padding: 10px;
  }
  .grid-container2 > div {
    background-color: #ffffe1;
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
    font-family: Calibri, Calibri, sans-serif;
  }

  
  body {
      background-color: #D3D3D3;
  }
  
  table {
      font-family:  Calibri, Calibri, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }
  
  table td, table th {
      border: 1px solid #ddd;
      padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #A9A9A9;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #000000;
      color: #b89b1d;
  }

  .button1 {
    display: inline-block;
    background-color: #b89b1d;
    border-radius: 10px;
    border: 4px double #b89b1d;
    color: #16150f;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    text-decoration: none;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-align: center;
  }

  .button2 {
    display: inline-block;
    background-color: #b89b1d;
    border-radius: 10px;
    border: 4px double #b89b1d;
    color: #16150f;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    text-decoration: none;
    width: 170px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-align: center;
  }