body {
 font-family: Covington, cursive;
 background-color: #f0f0f0;
 margin: 0;
}

header {
 background: linear-gradient(to bottom, #e1a6c4, #7ea3b2);
 color: black;
 padding: 0px;
 text-align: center
}

.cadre {
  background-color: white;
  border: 5px solid rgb(16, 16, 16);
  padding: 5px;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: underline;
}
 
nav li {
  margin-right: 20px;
}
 
nav a {
  color: rgb(77, 248, 9);
  text-decoration: none;
  padding: 5px;
}
 
nav a:hover {
  background-color: #fff;
  color: #333;
}

.images-container {
  display: flex;
  justify-content: space-between; /* pour espacer les images */
}

.selector-container {
  display: flex;
  justify-content: space-between; /* pour espacer les images */
}

/* Spécifique au tableau de commandes */
table {
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th {
  background-color: gray;
  color: white;
}

main {
  padding: 20px;
}

footer {
  background: linear-gradient(to top, #e1a6c4, #7ea3b2);
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
}