html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  padding-bottom: 10px;
}
   
nav ul {
  list-style: none;
  margin-top: 20;
  display: flex;
}
   
nav li {
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 30px;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}

.logo {
  color: rgb(0, 0, 0);
}
main {
  padding: 20px;
  flex-grow: 1;
  color: rgb(255, 242, 242);
  background: linear-gradient(to top, #e1a6c4, #7ea3b2);

}
 
footer {
  left: 0;
  bottom: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
}