body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  }
  
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
   
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
   
nav li {
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}

ul {
  display: flex;
  justify-content: center;
}

.images-container {
  display: flex;
  justify-content: space-between; /* pour espacer les images */
}

.selector-container {
  display: flex;
  justify-content: space-between; /* pour espacer les images */
}

/* Spécifique au tableau de commandes */
table {
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th {
  background-color: gray;
  color: white;
}

main {
  padding: 20px;
}

footer {
  left: 0;
  bottom: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}