body {
 font-family: Covington, cursive;
 background-color: #f0f0f0;
 margin: 0;
}

.cadre {
  background-color: white;
  border: 5px solid red;
  padding: 5px;
  border-radius: 5px;
}

header {
 background-image: url("https://media.gqmagazine.fr/photos/610a5e8dfc0bc6c36d33215d/16:9/w_2560%2Cc_limit/photo-1587654780291-39c9404d746b.jpeg");
 background-color: #333;
 color: black;
 padding: 30px;
 text-align: center
}

footer {
 background-image: url("https://media.gqmagazine.fr/photos/610a5e8dfc0bc6c36d33215d/16:9/w_2560%2Cc_limit/photo-1587654780291-39c9404d746b.jpeg");
 background-color: #333;
 color: black;
 padding: 10px;
 text-align: center
 ;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.count {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
}

button {
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

.images-container {
  display: flex;
  justify-content: space-between; /* pour espacer les images */
}

.selector-container {
  display: flex;
  justify-content: space-between; /* pour espacer les images */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: underline;
}
 
nav li {
  margin-right: 10px;
}
 
nav a {
  color: rgb(77, 248, 9);
  text-decoration: none;
  padding: 5px;
}
 
nav a:hover {
  background-color: #fff;
  color: #333;
}