html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
 }

header {
  background-color: rgb(224, 10, 10);
  color: #fff;
  padding: 10px;
}

img {
  width: 75%;
  height: 75%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
 
nav li {
  margin-right: 10px;
}
 
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
}
 
nav a:hover {
  background-color: #fff;
  color: #333;
}
 
main {
  padding: 20px;
  flex-grow: 1;
}
 
footer {
  left: 0;
  bottom: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
}