<!DOCTYPE html>
<html>
  <head>
    <title>Accueil - Entreprise de production </title>
    <link rel="stylesheet" href="/static/CSS_Accueil.css">
  </head>

  <body>
    <header>
      <h1><center> ACCUEIL </center></h1>
      <h2><center> Bienvenue, agilité est mère de sureté ! </center></h2>
      <nav>
        <ul>
            <li><a href="Client_Reception">Client</a></li>
            <li><a href="AgiLean_Matiere">Agi Lean</a></li>
            <li><a href="AgiLog_Matiere">Agi Log</a></li>
            <li><a href="AgiParts">Agi Parts</a></li>
		        <li><a href="EnSavoirPlus">En savoir plus sur nous</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <p><center>Bienvenue sur la page d'accueil de notre entreprise de production. Veuillez choisir une page à visiter en utilisant la navigation ci-dessus.</center></p>
	    <center><img src='{{ url_for("static", filename="images/logo INNOVALOG.png") }}'></center>
    </main>
    
    <footer>
      <p>&copy; 2023 AM Aix-en-Provence</p>
    </footer>
  </body>
</html>
