<!DOCTYPE html>
<html>
  <head>
    <title>Accueil - Entreprise de production </title>
    <link rel="stylesheet" href="/static/CSS_Accueil.css">
  </head>

  <body>
    <header>
      <h1><center> ACCUEIL </center></h1>
      <h2><center> Bienvenue, agilité est mère de sureté ! </center></h2>
      <a href="/">
				<center> <img src="/static/images/Logo_Agi.svg"> </center>
			</a>
      <nav>
        <ul>
          <li><a href="Client_Reception"><u>Client</u></a></li>
          <li><a href="AgiLean_Matiere"><u>AgiLean</u></a></li>
          <li><a href="AgiLog_Matiere"><u>AgiLog</u></a></li>
          <li><a href="AgiParts"><u>AgiParts</u></a></li>
          <li><a href="EnSavoirPlus"><u>En savoir plus sur nous</u></a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="content">
        <p><center>Bienvenue sur la page d'accueil de notre entreprise de production. Veuillez choisir une page à visiter en utilisant la navigation ci-dessus.</center></p>
        <center><img src='{{ url_for("static", filename="images/logo INNOVALOG.png") }}'></center>
      </div>
    </main>
    
    <footer>
      <p>&copy; 2023 AM Aix-en-Provence</p>
    </footer>
  </body>
</html>
