<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='{{ url_for("static", filename="CSS_AgiLog.css")}}'>
    <title>AgiLog - Information </title>
  </head>
  

  <body>
    <header>
      <div class="cadre">
        <h1><center><i>Bienvenue dans l'espace Passer Commande de AgiLog</center></i></h1> 
      </div> 
      
      <nav>
        <ul>
        <center>
        <a class = "button" href='{{url_for("Accueil")}}'> Retourner vers l'accueil </a>
        <br>
        <br>
        <a class = "button" href='{{url_for("AgiLog_Matiere")}}'> Receptionner une commande </a>
        </cente
        </ul>
      </nav>
    </header>

    <!-- création de l'affichage des commandes clients -->
    <div>
      <form action='{{ url_for("AgiLog_Information") }}' method='POST'>
        <fieldset>
          <legend><h3>Demande AgiLean</h3></legend>
          <div class="grid-container2">
            <div>
            <table>
              <tr>
                <th>N° Commande</th>
                <th>Date Commande</th>
                <th>Modèle</th>
                <th>Option</th>
                <th>Kit</th>  
                <th>Etat</th>
              </tr>
              
              {% for element in commande_agilean %}
              <tr class="lp_ligne">
                <td class="lp_cellule">{{ element['id'] }}</td>
                <td class="lp_cellule">{{ element['Date'] }}</td>
                <td class="lp_cellule">{{ element['Modèle'] }}</td>
                <td class="lp_cellule">{{ element['Option'] }}</td>
                <td class="lp_cellule">{{ element['Kit'] }}</td>
                <td class="lp_cellule">{{ element['Etat'] }}</td>
              </tr>
              {% endfor %}   
                
           </table>
           </div>
           
          <br><br>
          
        </fieldset>
      </form>
    </div>

    <div>
      <form action='{{ url_for("AgiLog_Information") }}' method='POST'>
        <fieldset>
          <legend><h3>Selection des demandes à traitées</h3></legend>
          <p><center>Veuillez entrer le numéro de commande client à traiter :</center></p>
          <center>
              <input type="number" name="numero" min="1">
              <input type="submit" name="envoyer_numero_commande" value="Commander">
          </center>
        </fieldset>
      </form>
    </div>

    <!-- création de l'affichage des commandes fournisseurs en attente -->
    <div>
      <form action='{{ url_for("AgiLog_Information") }}' method='POST'>
        <fieldset>
          <legend><h3>Commandes à AgiParts</h3></legend>
          <div class="grid-container3">
            <div>
            <table>
              <tr>
                <th>N° Commande</th>
                <th>Date Commande</th>
                <th>Modèle</th>
                <th>Option</th>
                <th>Kit</th>
                <th>Etat</th>
              </tr>
              
              {% for element in commande_agilog %}
              <tr class="lp_ligne">
                <td class="lp_cellule">{{ element['id'] }}</td>
                <td class="lp_cellule">{{ element['Date'] }}</td>
                <td class="lp_cellule">{{ element['Modèle'] }}</td>
                <td class="lp_cellule">{{ element['Option'] }}</td>
                <td class="lp_cellule">{{ element['Kit'] }}</td>
                <td class="lp_cellule">{{ element['Etat'] }}</td>

              </tr>
              {% endfor %}  
                
           </table>
           </div>
           
          <br><br>
          
        </fieldset>
      </form>
    </div>

    <footer>
      <h3><center>Nos filiales partenaires Agi Log, Agi Lean et Agi Parts sont fières d'être à votre service </center></h3>
      <p><center>&copy; 2023 AM Aix-en-Provence</center></p>
    </footer>

  </body>

</html>