<!DOCTYPE html>
<html>

    <head>
    
        <link rel="stylesheet" href=""
        <script src=""></script>
        <title> Espace Agilog </title>
        
    </head>

    <body>
        <header>
        
            <div class="cadre">
                <h1>
                	<style>
                   .bandeau {
                      background-color: rgb(100,150,250);
                      color: orange;
                      padding: 10px;
                      position: relative;
                      top: 10px;
                      font-family: Calibri, Arial, sans-serif;
                      font-size: 35px;
   }
   </style>
				<div class="bandeau"><center><i><u>Espace AgiLog</u></i><center>

                </h1>
            </div>
            
        </header>
        
        <middle>
            <center>        	
            <label for="menu">Choisissez une option :</label>
            <select id="menu" name="menu">
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
            <center>
            
            <fieldset>

            <legend><h2><center>Expédition<center></h2></legend>
            	Numéro de commande: <br>
            <input type="number" name="Numero" min="1"><br> 
            <input type="radio" name="commande" value="Pièces Agilog reçues et conformes" > Pièces Agilog reçues et conformes<br>
            <input type="radio" name="commande" value="Pièces Agilog non conformes et renvoyées" > Pièces Agilog non conformes et renvoyées<br>
            <input type="radio" name="commande" value="Commande expédiée au client" > Commande expédiée au client<br> 
            <br>
            <input type="submit" name="valider" value="Changer">

            </fieldset>
             
            <fieldset>
             
             		<legend><h3>Réception</h3></legend>
                    
                    
                    
            </fieldset>
        
        <middle>	
  


            
        <footer>
 			<h3><center>Nos filiales partenaires Agi Log, Agi Lean et Agi Parts sont fières d'être à votre service </center></h3>
 			<p><center>&copy; 2022-2023 ENSAM Aix-en-Provence</center></p>
		</footer>
        
    </body>
    
</html>
