<html>
  <head>
    <title>Agilean</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{{ url_for("static", filename="CSS_PW.css")}}'>

  </head>

  <body>
    <div class="grid-container1">
      <a class = "button1" href='{{url_for("Accueil")}}'><strong> ACCUEIL </strong></a>
      <a class = "button1" href='{{url_for("AgiLog_Matiere")}}'><strong> AGILOG </strong></a>
    </div>
    <img id="agilean_logo" src="../static/logo-agilean.svg" alt="Logo AgiLean" height=90><br>
    
    <br></br>

    <div class="grid-container2">
    <div>
      <table>
        <caption><h3>Commandes en cours</h3></caption>
        <tr>
          <th>N° Commande</th>
          <th>Date Commande Client</th>
          <th>Modèle</th>
          <th>Option</th>
          <th>Etat</th>
          <th>Satisfaction client</th>
        </tr>
      
        {% for element in commandes %}
          <tr class="lp_ligne">
            <td class="lp_cellule">{{ element['id'] }}</td>
            <td class="lp_cellule">{{ element['temps_commande_client'] }}</td>
            <td class="lp_cellule">{{ element['modele'] }}</td>
            <td class="lp_cellule">{{ element['option'] }}</td>
            <td class="lp_cellule">{{ element['etat_agilean'] }}</td>
            <td class="lp_cellule">{{ element['etat_client'] }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div>
      <form action='{{url_for("Accueil")}}' method='POST'> 
        <fieldset>
          <legend><h3>Mise à jour de l'état de la commande</h3></legend>
          Numéro de commande :<br>
          <input type="number" name="Numero" min="1"><br> 
          <input type="radio" name="commande" value="Pièces Agilog reçues et conformes" > Pièces Agilog reçues et conformes<br>
          <input type="radio" name="commande" value="Pièces Agilog non conformes et renvoyées" > Pièces Agilog non conformes et renvoyées<br>
          <input type="radio" name="commande" value="Commande expédiée au client" > Commande expédiée au client<br> 
          <br>
          <input type="submit" name="valider" value="Mettre à jour">
        </fieldset>
      </form>
    </div>
  </body>
</html>