<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS_PW.css')}}">
        <script src=""></script>
        <title> Espace AgiParts </title>
    </head>

    <body>
        <header>
            <div class="cadre">
                <h1><center>Bienvenue dans l'espace AgiParts</center></h1>
            </div>
        </header>

        <div class="grid-container1">
            <a class = "button1" href={{url_for("Accueil")}}><strong> ACCUEIL </strong></a>
        </div>
    </body>
</html>