<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='{{ url_for("static", filename="CSS_Client.css")}}'>
    <title>Accueil - Client </title>
  </head>

  <body>
    <header>
      <div class="cadre">
        <h1><center><i>Bienvenue sur la page Client</center></i></h1> 
        <h2><center>Votre satisfaction est notre priorité n°1 !</center></h2>
      </div> 
      <nav>
        <ul>
          <li><a class = "button1" href='{{url_for("Accueil")}}'><strong> Retour vers l'accueil </strong></a></li>
          <li><a class = "button2" href='{{url_for("Client_Commande")}}'><strong> Passer Commande </strong></a></li>
        </ul>
      </nav>
    </header>
    
    <!-- on crée la boite permettant de passer une commande -->
    <div>
      <form action='{{ url_for("Client_Reception")}}' method='GET'>
        <fieldset>
          <legend><h3>Préparation de la commande</h3></legend>
          <div class="images-container">
            <img src='{{ url_for("static", filename="images/CCF.png") }}'>
            <img src='{{ url_for("static", filename="images/CCO.png") }}'>
            <img src='{{ url_for("static", filename="images/CLF.png") }}'>
            <img src='{{ url_for("static", filename="images/CLO.png") }}'>
          </div>

          <br><br>

          <!-- création des boutons choix des accessoires -->
          <div class="selector-container">
            <label for="choix">Choisissez une option :</label>
            <select id="choix" name="modele">
              <option value="CCF">CCF</option>
              <option value="CCO">CCO</option>
              <option value="CLF">CLF</option>
              <option value="CLO">CLO</option>
            </select> 
            <input type="checkbox" name="Option1" value="001">001 - Attache accessoire
            <input type="checkbox" name="Option2" value="100">100 - Antenne
            <input type="checkbox" name="Option3" value="010">010 - Crochet d'attelage
            <br>
            <input type="submit" name="envoyer" value="Envoyer la commande">
          </div>
        </fieldset>
      </form>
    </div>

    <!-- création de la boite de validation commande -->
    <div>
      <form action='{{ url_for("AgiLean_Information")}}' method='POST'>
        <fieldset>
          <legend><h3>Accuser la réception commande</h3></legend>
          <div class="grid-container2">
            <table>
              <tr>
                <th>N° Commande</th>
                <th>Date Commande Client</th>
                <th>Modèle</th>
                <th>Option</th>
                <th>Etat</th>
                <th>Conformité / Validation Client</th>
              </tr>
              
              {% for element in commandes %}
              <tr class="lp_ligne">
                  <td class="lp_cellule">{{ element['id'] }}</td>
                  <td class="lp_cellule">{{ element['Date'] }}</td>
                  <td class="lp_cellule">{{ element['Modèle'] }}</td>
                  <td class="lp_cellule">{{ element['Option'] }}</td>
                  <td class="lp_cellule">{{ element['Etat_Lean'] }}</td>
                  <td class="lp_cellule">{{ element['Etat_Client'] }}</td>
              </tr>
              {% endfor %}

            </table>
          </div>
           
          <br><br>
          
          <div>
            Numéro de commande:<br>
            <input type="number" name="numero_commande" min="1"><br>
            <br>
            Etat de la livraison : 
            <select name="select_vehicule">
              <option value="Livraison valide">Livraison valide</option>
              <option value="Livraison non valide">Livraison non valide</option>
            </select>
            <br><br>
            <input type="submit" name="valider" value="Mettre à jour">
          </div>
          
        </fieldset>
      </form>
    </div>

    <footer>
      <h3><center>Nos filiales partenaires Agi Log, Agi Lean et Agi Parts sont fières d'être à votre service </center></h3>
      <p><center>&copy; 2023 AM Aix-en-Provence</center></p>
    </footer>

  </body>

</html>