<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='{{ url_for("static", filename="CSS_Client.css")}}'>
    <title>Client - Reception </title>
  </head>

  <body>
    <header>
      <div >
        <h1><center><i> Bienvenue dans l'espace Reception Commande du Client </center></i></h1> 
      </div> 
      
      <nav>
        <ul>
        <center>
        <a class = "button" href='{{url_for("Accueil")}}'> Retourner à l'acceuil </a>
        <br>
        <br>
        <a class = "button" href='{{url_for("Client_Commande")}}'> Passer une commande </a>
        </center>
        </ul>
      </nav>
    </header>
    

    <!-- création de la boite de validation commande -->
    <div>
      <form action='{{ url_for("AgiLean_Information")}}' method='POST'>
        <fieldset>
          <legend><h3>Voitures Reçues</h3></legend>
          <div class="grid-container2">
            <table>
              <tr>
                <th>N° Commande</th>
                <th>Date Commande</th>
                <th>Modèle</th>
                <th>Option</th>
                <th>Etat</th>
                <th>Conformité / Validation Client</th>
              </tr>
              
              {% for element in commandes %}
              <tr class="lp_ligne">
                <td class="lp_cellule">{{ element['id'] }}</td>
                <td class="lp_cellule">{{ element['Date'] }}</td>
                <td class="lp_cellule">{{ element['Modèle'] }}</td>
                <td class="lp_cellule">{{ element['Option'] }}</td>
                <td class="lp_cellule">{{ element['Etat_Lean'] }}</td>
                <td class="lp_cellule">{{ element['Etat_Client'] }}</td>
              </tr>
              {% endfor %}

            </table>
          </div>
           
          <br><br>
          
          <div>
            Numéro de commande:
            <input type="number" name="numero_commande" min="1"><br>
            <br>
            Etat de la livraison : 
            <select name="select_vehicule">
              <option value="Livraison valide">Livraison conforme</option>
              <option value="Livraison non valide">Livraison non conforme</option>
            </select>
            <br><br>
            <input type="submit" name="valider" value="Mettre à jour">
          </div>
          
        </fieldset>
      </form>
    </div>

    <footer>
      <h3><center>Nos filiales partenaires Agi Log, Agi Lean et Agi Parts sont fières d'être à votre service </center></h3>
      <p><center>&copy; 2023 AM Aix-en-Provence</center></p>
    </footer>

  </body>

</html>