<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='{{ url_for("static", filename="CSS_Client.css")}}'>
    <title>Client - Commande </title>
  </head>

  <body>
    <header>
      <div >
        <h1><center><i> Bienvenue dans l'espace Passer Commande du Client </center></i></h1> 
      </div> 
      
      <nav>
        <ul>
        <center>
        <a class = "button" href='{{url_for("Accueil")}}'> Retourner à l'acceuil </a>
        <br>
        <br>
        <a class = "button" href='{{url_for("Client_Reception")}}'> Receptionner une commande </a>
        </center>
        </ul>
      </nav>
    </header>

    <!-- on crée la boite permettant de passer une commande -->     
    <div>
      <form action='{{ url_for("Client_Commande")}}' method='POST'>
        <fieldset>
          <legend><h3>Préparation de la commande</h3></legend>
          <div class="images-container">
            <img src='{{ url_for("static", filename="images/CCF.png") }}'>
            <img src='{{ url_for("static", filename="images/CCO.png") }}'>
            <img src='{{ url_for("static", filename="images/CLF.png") }}'>
            <img src='{{ url_for("static", filename="images/CLO.png") }}'>
          </div>

          <br><br>

          <!-- création des boutons choix des accessoires -->
          <div class="selector-container">
            <label for="choix">Choisissez une option :</label>
            <select id="choix" name="modele">
              <option value="CCF">CCF</option>
              <option value="CCO">CCO</option>
              <option value="CLF">CLF</option>
              <option value="CLO">CLO</option>
            </select> 
            <input type="checkbox" name="Option1" value="True">001 - Attache accessoire
            <input type="checkbox" name="Option2" value="True">010 - Crochet d'attelage
            <input type="checkbox" name="Option3" value="True">100 - Antenne
            <br>
            <input type="submit" name="envoyer" value="Envoyer la commande">
          </div>
        </fieldset>
      </form>
    </div>

    <!-- création de la boite de validation commande -->
    <div>
      <fieldset>
        <legend><h3>Commandes Passées</h3></legend>
        <div class="grid-container2">
          <table>
            <tr>
              <th>N° Commande</th>
              <th>Date Commande</th>
              <th>Modèle</th>
              <th>Option</th>
              <th>Etat</th>
              <th>Conformité / Validation Client</th>
            </tr>
            
            {% for element in commandes %}
            <tr class="lp_ligne">
              <td class="lp_cellule">{{ element['id'] }}</td>
              <td class="lp_cellule">{{ element['Date'] }}</td>
              <td class="lp_cellule">{{ element['Modèle'] }}</td>
              <td class="lp_cellule">{{ element['Option'] }}</td>
              <td class="lp_cellule">{{ element['Etat_Lean'] }}</td>
              <td class="lp_cellule">{{ element['Etat_Client'] }}</td>
            </tr>
            {% endfor %}

          </table>
        </div>
      </fieldset>
    </div>


    <footer>
      <h3><center>Nos filiales partenaires Agi Log, Agi Lean et Agi Parts sont fières d'être à votre service </center></h3>
      <p><center>&copy; 2023 AM Aix-en-Provence</center></p>
    </footer>

  </body>

</html>