<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS_PW.css') }}">
        <title> En Savoir Plus </title>
    </head>

    <body>
        <header>
            <h1><center>Notre histoire, nos valeurs, votre bonheur.</center></h1>
        </header>

        <p><center>
            Innovalog est une entreprise de production de voitures renommée pour sa fiabilité, 
            sa qualité et son plaisir de conduite. Depuis sa création, 
            Innovalog s'est engagée à offrir des véhicules de haute qualité à ses clients, 
            avec une attention particulière portée à la fiabilité et à la durabilité de ses produits. 
            Les voitures Innovalog sont conçues pour offrir une expérience de conduite incomparable, en alliant performance et sécurité.

            Chez Innovalog, le client est roi. L'entreprise est déterminée à satisfaire les besoins et les attentes de ses clients, en leur offrant un service de qualité supérieure et une expérience d'achat exceptionnelle. 
            Innovalog est fière de son service après-vente et de son engagement envers la satisfaction de ses clients, ce qui en fait un choix de confiance pour tous ceux qui cherchent à acheter une voiture fiable, de haute qualité et agréable à conduire.
        </center>
        </p> 

        <div class="grid-container1">
            <a class = "button1" href={{url_for("Accueil")}}><strong> Retour à l'accueil </strong></a>
        </div>

        <footer>
            <h3><center>Nos filiales partenaires Agi Log, Agi Lean et Agi Parts sont fières d'être à votre service </center></h3>
            <p><center>&copy; 2023 AM Aix-en-Provence</center></p>
          </footer>
    </body>
</html>